#container {
    position: absolute;
    height: 800px;
    width: 1200px;
    border: 2px solid violet;
    perspective: 600px;
}

#pasaule {
    height: inherit;
    width: inherit;
    transform-style: preserve-3d;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(200px,200px,0px);
}

#element0 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: violet;
    opacity: 0.5;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg)translate3d(0px,0px,0px);
}

#element1 {
    position: absolute;
    height: 200px;
    width: 200px;
    background: green;
    opacity: 0.5;
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate3d(0px,0px,0px);
}